<% @user.tracks.order(:created_at).each_with_index do |track, index| %>
  <li>
    <iframe data-track-id="<%= track.track_id %>" id="track-<%= track.track_id %>-queued" width="100%" src="https://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/<%= track.track_id %>?download=false&sharing=false&buying=false&liking=false"></iframe>
    <button class="dequeue-button button" title="Remove">Remove</button>
    <% # ugh, this spells slowness in my book, but it works %>
    <button title="Like" class="like-button button small<%= begin @client.get("/me/favorites/#{track.track_id}") && " active" rescue "" end %>">Like</button>
    <button title="Repost" class="repost-button button small">Repost</button>
  </li>
<% end %>

