#connect-wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

#connect {
  margin: 0px auto;
  width: 50%;
  text-align: center;
  display: table-cell; 
  vertical-align: middle;

  a {
    font-size: 2em;
  }
}