<div id="connect-wrapper">
  <div id="connect">
    <h1>SoundCloud Queue</h1>
    <p>Queue up the songs you want to listen to next</p>
    <p><a href="<%= new_session_path %>">Connect</a></p>
    <p><a href="https://github.com/discom4rt/SoundCloud-Queue">Github</a></p>
  </div>
</div>